.jumbotron {
      background-color: #dbdbdb;
      color: #fff;
      margin-bottom: 5px;
      
  }
.jumbotron h1{
    color:white !important;
}
    .table-condensed {
        font-size: 10px !important;
    }
            
    .modal-header, .close {
        background-color: #5cb85c;
        color:white !important;
        text-align: center;
        font-size: 30px;
    }
    .modal-footer {
        background-color: #f9f9f9;
    }
          


