@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
body {
	background: #3E4649 !important;
    font-family: 'Lato', sans-serif !important;
    background: #e2dedb;
    color: #222 !important;
}
h1,
h2 {
	font-weight: bold !important;
}
h5 {
    color: #999 !important;
    text-align: center;
    letter-spacing: 3px;
}
p {
	color: #222 !important;
}
.navbar {
	margin-bottom: 0 !important;
}
.jumbotron {
	background: #27A967 !important;
	color: white !important;
	text-align: center !important;
}
.jumbotron p {
	color: white !important;
	font-size: 26px !important;
}
.navbar-inverse {
	background: #2E2F31 !important;
	border: 0 !important;
}
.dropdown-menu {
	//background: #2E2F31 !important;
	border-radius: 0 !important;
	border: 0 !important;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7 !important;
	font-size: 16px !important;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #27A967 !important;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C !important;
}
.dropdown-menu li a {
	padding: 10px !important;
}
.btn-primary {
	color: #fff !important;
	background-color: transparent !important;
	border-color: white !important;
	margin-bottom: 5px !important;
}
.btn-primary:hover {
	color: #27A967 !important;
	background-color: white !important;
	border-color: white !important;
}
.glyphicon-large {
	font-size: 75px !important;
}
.call-to-action {
	text-align: center !important;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}
.panel-body {
    border-bottom:1px solid #ddd;
}
.my-input {
    display: table-cell !important;
    width:100% !important;
    border:none !important;
}
.row-green {
    padding:20px 0;
}
.tbl tr th {
    width:30%;
}
.tbl2 thead tr td {
    text-align:center;
}
.panel-title {
    letter-spacing: 2px;
    text-align: center;
}
#hej th {
    width:20%;
}
/* MINIMALISTIC FORM */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

header {
  position: relative;
  margin: 25px 0 25px 0;
  font-size: 2.2em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 100%;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #eee;
  color: #333;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;  
  border: solid 1px #b3aca7; 
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #eee;
  color: #fff;
}

#submit {
  width: 100%;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  outline:none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

/* END MINIMALISTIC FORM */

