@import url(http://fonts.googleapis.com/css?family=Lato:100,300,400);
body {
	background: #3E4649 !important;
    font-family: 'Lato', sans-serif !important;
    background: #e2dedb;
    color: #222 !important;
}
h1,
h2 {
	font-weight: bold !important;
}
h5 {
    color: #999 !important;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}
p {
	color: #222 !important;
}
.navbar {
	margin-bottom: 0 !important;
}
.jumbotron {
	background: #27A967 !important;
	color: white !important;
	text-align: center !important;
}
.jumbotron p {
	color: white !important;
	font-size: 26px !important;
}
.navbar-inverse {
	background: #2E2F31 !important;
	border: 0 !important;
}
.dropdown-menu {
	//background: #2E2F31 !important;
	border-radius: 0 !important;
	border: 0 !important;
}
.navbar-inverse .navbar-nav li a {
	color: #f7f7f7 !important;
	font-size: 16px !important;
}
.navbar-inverse .navbar-nav li a:hover {
	background: #27A967 !important;
}
.navbar-inverse .navbar-nav .dropdown-menu li a:hover {
	background: #2C463C !important;
}
.dropdown-menu li a {
	padding: 10px !important;
}
.btn-primary {
	color: #fff !important;
	background-color: transparent !important;
	border-color: white !important;
	margin-bottom: 5px !important;
}
.btn-primary:hover {
	color: #27A967 !important;
	background-color: white !important;
	border-color: white !important;
}
.glyphicon-large {
	font-size: 75px !important;
}
.call-to-action {
	text-align: center !important;
}
.call-to-action p {
	margin-bottom: 30px;
	font-family: sans-serif;
}
.panel-body {
    border-bottom:1px solid #ddd;
}
.my-input {
    display: table-cell !important;
    width:100% !important;
    border:none !important;
    height: 20px;
}
.my-input[disabled]:hover{
    background-color: transparent;
}
.row-green {
    padding:20px 0;
}
.tbl thead th {
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.tr th{
    width:30%;
}
.tbl th {
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}
.panel-title {
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
}
.panel-collapse{
    max-height: 500px;
    overflow:scroll;
}
.panel-heading a {
    text-transform: uppercase;
    color: black;
}
.panel-heading a:hover {
    color:grey;
}
.six-cells tr th{
    width: 16.5%;
}
.four-cells tr th {
    width: 25%;
}
.bb-cells tr th {
    width:18%;
}
select {
    width: 100%;
}
.selectpicker {
    width:100% !important;
}
.none-value-select {
    color: gainsboro !important;
}

.panel-collapse {
    font-size: 12px;
}
.small-thead tr th{
    font-size: 8px;
    text-align: left;
    
}
.tbl-small {
    font-size: 10px;
}
.three-cells tr th{
    width:30%;
}

.tbl .td {
    padding:0 !important;
}

/*   Här kommer lite kod om vi vill ha sliders istället för number inputs vid SCORE ....

.range {
    display: table;
    position: relative;
    height: 3px;
    margin-top: 2px;
    background-color: rgb(245, 245, 245);
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}

.range output {
    display: table-cell;
    padding: 2px 2px 1px;
    min-width: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(153, 153, 153);
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;

    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}

.range.range-primary output {
    background-color: rgb(66, 139, 202);
}
.range.range-primary input[type="range"] {
    outline-color: rgb(66, 139, 202);
}

.range.range-success output {
    background-color: rgb(92, 184, 92);
}
.range.range-success input[type="range"] {
    outline-color: rgb(92, 184, 92);
}
.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 25px;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;

    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    
    width: 11px;
    height: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0px;
    background-color: rgb(153, 153, 153);
}


Detta ska in i html:
<div class="range">
    <input type="range" name="range" min="0" max="5" value="0" onchange="range.value=value" class="my-input attr-score" id="input-fortitude">
    <output id="range">0</output>
</div>

*/





/* END MINIMALISTIC FORM */

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::placeholder, textarea::focus:placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 0.875em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 0.875em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}

header {
  position: relative;
  margin: 25px 0 25px 0;
  font-size: 2.2em;
  text-align: center;
  letter-spacing: 7px;
}

#form {
  position: relative;
  width: 100%;
  margin: 50px auto 100px auto;
}

input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #726659;
  border: solid 1px #b3aca7;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

input:hover {
  background: #eee;
  color: #333;
}

textarea {
  width: 100%;
  max-width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #726659;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;  
  border: solid 1px #b3aca7; 
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

textarea:hover {
  background: #eee;
  color: #fff;
}

#submit {
  width: 100%;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #b3aca7;
  outline:none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  border-top: none;
}

#submit:hover {
  color: #e2dedb;
}

/* END MINIMALISTIC FORM */

